# Telegram Bot Token
BOT_TOKEN           = "1234567890:ABCdefGHIjklmNOPqrstUvwxYZ"

# MQTT Broker (на VPS)
MQTT_HOST           = "our_vps_ip_or_domain"
MQTT_PORT           = "1883"
MQTT_USER           = "your_mqtt_user"
MQTT_PASSWORD       = "your_mqtt_password"

# WiFi для ESP32
WIFI_SSID           = "YourWiFiSSID"
WIFI_PASSWORD       = "YourWiFiPassword"

# Дополнительно: идентификатор устройства
DEVICE_ID           = "esp32_heater_01"